* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(background2.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    height: 80px;
    background: #ffb81c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px) / 2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.welcome{
    color: #fff;
    text-align: center;
    background-image: url(Graviton.jpg);
    height: 500px;
    background-size: 100% 100%;
}

.odd{
    border-radius: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    background: #006D75;
    color: #EA7200;
    text-align: center;
    height: 80px;
    max-width: 1000px;
}

.even{
    border-radius: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    background: #20394C;
    color: #fff;
    text-align: center;
    height: 80px;
    max-width: 1000px;
}

.odd a{
    text-decoration: none;
    color: #EA7200;
}

.even a{
    text-decoration: none;
    color: #fff;
}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #EA7200;
    background: #000;
    cursor: pointer;
}

button:hover {
    background: #fff;
    color: #000;
}